<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/card.css">
    <title>Title</title>
</head>
<body class="phb">
<h4>
    spelltitle
    <div class="label">SPELL 1</div>
</h4>
<div class="taglist">
<div class="tag">KEYWORD</div>
</div>
<div class="reqbox"><div>
<span class="rule traditions">arcane, divine, occult, primal</span>
</div><div>
<span class="rule cast"><img src="../static/images/twoaction.png" alt="Two Actions" width="20" height="20" class="action">somatic, verbal</span>
</div><div>
<span class="rule trigger">Needed for reaction spells.<</span>
</div><div>
<span class="rule range">touch</span> <span class="rule targets">any number of creatures</span>
</div><div>
<span class="rule area">20-foot burst</span>
</div><div>
<span class="rule savingthrow">Fortitude, Reflex or Will</span>
</div></div>
<div class="box">
<div class="rule">Add the spell effect here. You can copy result effects (r1 to r4 styles) from the above examples. Remember, you can't bold or italic using Markdown in <i>rule</i> fields. </div>
</div>
<div class="rule heightenedp1">The spell has improved effect.</div>
<div class="rule heightened3">Check the CSS for all heightened options.</div>
</body>
</html>